<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cactusknights.chefbook">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.cactusknights.ChefBookApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChefBook">
        <activity android:name="com.cactusknights.chefbook.screens.main.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.cactusknights.chefbook.activities.LoginActivity"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name="com.cactusknights.chefbook.screens.auth.AuthActivity"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name="com.cactusknights.chefbook.activities.RecipeCommitActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name="com.cactusknights.chefbook.activities.RecipeActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2240420199912180~7045461636"/>
    </application>

</manifest>